<div class="center">
  <h1><strong><i>LISTA DE CLIENTES EXISTENTES</i></strong></h1>
</div>
<form class="" action="" method="post">
  <div class="center">
    <h1>Bienvenido, por favor seleccione el correo del cliente que desea buscar</h1>
  </div>
  {{#if model.clientsRegistered}}
  {{else}}
    No existen correos actualmente
  {{/if}}
  {{#power-select
    options=model.clients
    searchField="email"
    selected=selectedClient
    allowClear=true
    noMatchesMessage="No se han encontrado coincidencias con este correo"
    onchange=(action "onChangeEmail")
    as |client|}}
      {{client.email}}
  {{/power-select}}

  <div class="center">
    <div class="row">
      {{#link-to 'index'}}
        <button class="btn waves-effect waves-light" type="submit" name="action" >Cancelar
          <i class="material-icons right">arrow_back</i>
        </button>
      {{/link-to}}
      <button class="btn waves-effect waves-light" type="submit" name="action" {{action "deleteEmail" selectedClient.email}}>Borrar
        <i class="material-icons right">arrow_forward</i>
      </button>

    </div>
    <div class="">
      {{#if model.showErrorMessage}}{{else}}Por favor ingrese un correo{{/if}}
    </div>
  </div>
</form>
{{outlet}}
