<nav class="navigation">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        {{#Link-to 'index'}}
          <a href="#" class="brand-logo"><img src="../logo.jpg" alt=""></a>
        {{/Link-to}}
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#Link-to 'client.registerclient'}}
          Crear Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.readclient'}}
          Leer Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.editclient'}}
          Editar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.deleteclient'}}
          Borrar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'index'}}
          logout
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="center">
  <h1><strong><i>INGRESE LOS DATOS DEL CLIENTE</i></strong></h1>
</div>

{{#if model.showErrorMessageClientExists}}
{{else}}
   El cliente ya tiene una cuenta con este email dentro del sistema
{{/if}}
<div class="">
  <div class="row">
   <form class="col s12" >
     <div class="row">
       <div class="input-field col s6">
         {{input id=name value=name type="text" placeholder="enter name" required="true"}}
         <label for="name">Nombre:</label>
       </div>
     </div>
     {{#if model.fieldName}}
     {{else}}
        El campo Nombre no puede ser vacío
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         {{input id=last_name value=last_name type="text" placeholder="last name" required="true"}}
         <label for="name">Apellido:</label>
       </div>
     </div>
     {{#if model.fieldLastname}}
     {{else}}
        El campo Apellido no puede ser vacío
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         {{input id=address value=address type="text" placeholder="Address" required="true"}}
         <label for="direccion">Dirección:</label>
       </div>
     </div>
     {{#if model.fieldAddress}}
     {{else}}
        El campo Dirección no puede ser vacío
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         {{input id=telephone value=telephone type="text" placeholder="telephone" required="true"}}
         <label for="name">Teléfono:</label>
       </div>
     </div>
     {{#if model.fieldTelephone}}
     {{else}}
        El campo Teléfono no puede ser vacío
     {{/if}}
     {{#if model.messageTelephoneCorrectFormat}}
     {{else}}
        El formato es incorrecto por favor digite de nuevo, deben ser números
     {{/if}}


     <div class="row">
       <div class="input-field col s6">
         {{input id=email value=email type="email" placeholder="email" required="true"}}
         <label for="email">Correo Electrónico</label>
       </div>
     </div>

     {{#if model.fieldEmail}}
     {{else}}
        El campo correo electrónico no puede ser vacío
     {{/if}}
     {{#if model.messageEmailCorrectFormat}}
     {{else}}
        El formato es incorrecto por favor digite de nuevo, debe ser con @ y un dominio
     {{/if}}

     <div class="row">
       <div class="input-field col s6">
         {{input id=password value=password type="password" placeholder="password" required="true"}}
         <label for="password">Contraseña:</label>
       </div>
     </div>
     {{#if model.fieldPassword}}
     {{else}}
        El campo Contraseña no puede ser vacío
     {{/if}}
     <div class="">
     </div>
   </form>
 </div>
 <div class="center">
   <div class="row">
      <button id="registerButton" class="btn waves-effect waves-light" type="submit" name="action" {{action 'registerClient'}}>Registrar
        <i class="material-icons right">send</i>
      </button>

    {{#link-to 'index'}}
      <button class="btn waves-effect waves-light" type="submit" name="action" {{action 'cleanMessage'}}>Cancelar
        <i class="material-icons right">arrow_back</i>
      </button>
    {{/link-to}}
   </div>
 </div>
</div>

{{outlet}}
