<nav class="navigation">
  <div class="right hide-on-med-and-down">
    <ul>
      <li>
        {{#Link-to 'reservation.makereservation'}}
          Relizar reserva
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'reservation.readticket'}}
          Consultar reserva
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'index'}}
          logout
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>
<div class="center">
  <h1><strong><i>CONSULTAR RESERVA</i></strong></h1>
</div>
<br/>
<br/>
<br/>
<br/>
<form class="" action="" method="post">
  <div class="center">
    {{#if numberTicket}}
        No existen reservas actualmente
    {{else}}
    {{/if}}
  </div>
  <div class="left col s1">
    <h6>Consultar reserva:</h6>
  </div>
  <div class="col s1">
    {{#power-select
      options=model.ticket
      searchField="date"
      selected=selectedTicket
      allowClear=true
      noMatchesMessage="No se han encontrado coincidencias con esta fecha"
      onchange=(action "onChangeDate")
      as |ticket|}}
        {{ticket.date}}
    {{/power-select}}
  </div>
  <br/>
  <br/>
  <div class="center">
    <div class="row">
      {{#link-to 'reservation.queryticket' selectedTicket.date}}
        <button class="btn waves-effect waves-light" type="submit" name="action" {{action 'tryRead'}}>Consultar
          <i class="material-icons right">arrow_forward</i>
        </button>
      {{/link-to}}
      {{#link-to 'index'}}
        <button class="btn waves-effect waves-light" type="submit" name="action" >Atrás
          <i class="material-icons right">arrow_back</i>
        </button>
      {{/link-to}}
      <div class="">
          {{#if showErrorMessage}}Por favor seleccione una reserva{{else}}{{/if}}
      </div>
    </div>
  </div>
</form>
{{outlet}}
