<nav class="navigation">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        {{#Link-to 'client.index'}}
          <a href="#" class="brand-logo"><img src="../logo.jpg" alt=""></a>
        {{/Link-to}}
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#Link-to 'client.registerclient'}}
          Crear Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.readclient'}}
          Leer Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.editclient'}}
          Editar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.deleteclient'}}
          Borrar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'index'}}
          logout
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="center">
  <h1><strong><i>DATOS GENERALES DEL CLIENTE</i></strong></h1>
</div>
<div class="center">
  <h1>Actualice los datos del cliente</h1>
</div>
{{#if showErrorMessageClientExists}}
    El email que quiere ingresar ya está en la base de datos
{{else}}
{{/if}}
<div class="">
</div>
<div class="">
  <div class="row">
   <form class="col s12" >
     <div class="row">
       <div class="input-field col s6">
        <h6><span>Nombre: {{model.client.name}} </span></h6> {{input id=name value=name type="text" placeholder="enter name" required="true"}}
         <label for="name">Name:</label>
       </div>
     </div>
     {{#if fieldName}}
        El campo Nombre no puede ser vacío
     {{else}}
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         <h6><span>Apellido: {{model.client.lastName}}</span></h6> {{input id=last_name value=last_name type="text" placeholder="last name" required="true"}}
         <label for="name">Last Name:</label>
       </div>
     </div>
     {{#if fieldLastname}}
        El campo Apellido no puede ser vacío
     {{else}}
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         <h6><span>Dirección: {{model.client.address}}</span></h6> {{input id=address value=address type="text" placeholder="Address" required="true"}}
         <label for="direccion">Address:</label>
       </div>
     </div>
     {{#if fieldAddress}}
        El campo Dirección no puede ser vacío
     {{else}}
     {{/if}}
     <div class="row">
       <div class="input-field col s6">
         <h6><span>Teléfono: {{model.client.telephone}}</span></h6> {{input id=telephone value=telephone type="text" placeholder="telephone" required="true"}}
         <label for="name">Telephone:</label>
       </div>
     </div>
     {{#if fieldTelephone}}
        El campo Teléfono no puede ser vacío
     {{else}}
     {{/if}}
     {{#if messageTelephoneCorrectFormat}}
        El formato es incorrecto por favor digite de nuevo, deben ser números
     {{else}}
     {{/if}}

     <div class="row">
       <div class="input-field col s6">
         <h6><span>Correo electrónico: {{model.client.email}}</span></h6>{{input id=email value=email type="text" placeholder="email" required="true"}}
         <label for="email">Email</label>
       </div>
     </div>
     {{#if fieldEmail}}
        El campo correo electrónico no puede ser vacío
     {{else}}
     {{/if}}
     {{#if messageEmailCorrectFormat}}
        El formato es incorrecto por favor digite de nuevo, debe ser con @ y un dominio
     {{else}}
     {{/if}}

     <div class="row">
       <div class="input-field col s6">
         <h6><span>Contraseña: {{model.client.password}}</span></h6> {{input id=password value=password type="password" placeholder="password" required="true"}}
         <label for="password">Password</label>
       </div>
     </div>
     {{#if fieldPassword}}
        El campo Contraseña no puede ser vacío
     {{else}}
     {{/if}}
   </form>
 </div>
 <div class="center">
   <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action" {{action 'updateClient' model.client.email}}>Actualizar
        <i class="material-icons right">send</i>
      </button>
    {{#link-to 'index'}}
      <button class="btn waves-effect waves-light" type="submit" name="action" {{action 'cleanMessage'}}>Atrás
        <i class="material-icons right">arrow_back</i>
      </button>
    {{/link-to}}
   </div>
 </div>
</div>
{{outlet}}
