{{#each model as |insert|}}
  <div class="">
    {{insert.name}}
  </div>
  <div class="">
    {{insert.lastName}}
  </div>
  <div class="">
    {{insert.address}}
  </div>
  <div class="">
    {{insert.telephone}}
  </div>
  <div class="">
    {{insert.email}}
  </div>
  <div class="">
    {{insert.password}}
  </div>
{{/each}}

{{outlet}}
