  <div class="">
    ----------------------------
    {{client.name}}
  </div>
  <div class="">
    {{client.lastName}}
  </div>
  <div class="">
    {{client.address}}
  </div>
  <div class="">
    {{client.telephone}}
  </div>
  <div class="">
    {{client.email}}
  </div>
  <div class="">
    {{client.password}}
  </div>

{{outlet}}
