<nav class="navigation">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        {{#Link-to 'index'}}
          <a href="#" class="brand-logo"><img src="../logo.jpg" alt=""></a>
        {{/Link-to}}
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#Link-to 'client.registerclient'}}
          Crear Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.readclient'}}
          Leer Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.editclient'}}
          Editar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.deleteclient'}}
          Borrar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'index'}}
          logout
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>

<div class="center">
  <h1><strong><i>DATOS DEL CLIENTE</i></strong></h1>
</div>
<div class="">
  <table>
         <thead>
           <tr>
               <th>Nombre</th>
               <th>Apellido</th>
               <th>Dirección</th>
               <th>Teléfono</th>
               <th>Correo</th>
           </tr>
         </thead>

         <tbody>
           <tr>
             <td>{{model.name}}</td>
             <td>{{model.lastName}}</td>
             <td>{{model.address}}</td>
             <td>{{model.telephone}}</td>
             <td>{{model.email}}</td>
           </tr>
         </tbody>
  </table>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="center">
  {{#link-to 'index'}}
    <button class="btn waves-effect waves-light" type="submit" name="action" >Atrás
      <i class="material-icons right">arrow_back</i>
    </button>
  {{/link-to}}
</div>

{{outlet}}
