<div class="center">
  <h1><strong><i>DATOS DEL CLIENTE</i></strong></h1>
</div>
  <div class="">
    ----------------------------
    {{model.name}}
  </div>
  <div class="">
    {{model.lastName}}
  </div>
  <div class="">
    {{model.address}}
  </div>
  <div class="">
    {{model.telephone}}
  </div>
  <div class="">
    {{model.email}}
  </div>
  <div class="">
    {{model.password}}
  </div>

{{outlet}}
